<!DOCTYPE html>
<html>
  <head>
    <title>Crisalix</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main class="container mx-auto mt-12 px-5 flex flex-col">
      <% flash.each do |type, msg| %>
        <div class="p-5 rounded-lg <%= (type == 'notice' ? 'bg-green-300 text-green-500' : 'bg-red-300 text-red-500') %>">
          <%= msg %>
        </div>
      <% end %>
      <navbar class="w-full">
        <% if user_signed_in?  %>
          <%= link_to "Home", root_path %>
          <% if current_user.is_a?(Patient)  %>
            <%= link_to "My images", images_path %>
          <% end %>
          <%= link_to "Log out", destroy_user_session_path, method: 'delete' %>
        <% else %>
          <%= link_to "Log in", new_user_session_path %>
        <% end %>
      </navbar>
      <%= yield %>
    </main>
  </body>
</html>
